<a href="https://colab.research.google.com/github/2303A51722/PDS-2303A51722-B11/blob/main/LAB_4_21_AUG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:

import pandas as pd
df = pd.read_csv('student_scores.csv')
print("Original DataFrame:")
print(df)
numeric_cols = df.select_dtypes(include=['number'])
df.fillna(numeric_cols.mean(), inplace=True)
print("\nDataFrame after filling missing values:")
print(df)
high_achievers = df[(df['Math'] > 75) & (df['Science'] > 75) & (df['English'] > 75)]
print("\nHigh Achievers (scores > 75 in all subjects):")
print(high_achievers)

Original DataFrame:
   Student  Math  Science  English
0    Alice  85.0     92.0     88.0
1      Bob  70.0     78.0      NaN
2  Charlie  90.0      NaN     95.0
3    David  65.0     70.0     72.0
4      Eve  78.0     85.0     80.0
5    Frank   NaN     68.0     75.0

DataFrame after filling missing values:
   Student  Math  Science  English
0    Alice  85.0     92.0     88.0
1      Bob  70.0     78.0     82.0
2  Charlie  90.0     78.6     95.0
3    David  65.0     70.0     72.0
4      Eve  78.0     85.0     80.0
5    Frank  77.6     68.0     75.0

High Achievers (scores > 75 in all subjects):
   Student  Math  Science  English
0    Alice  85.0     92.0     88.0
2  Charlie  90.0     78.6     95.0
4      Eve  78.0     85.0     80.0

In [3]:
# Create a dummy student_scores.csv file for demonstration purposes
data = {'Student': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
        'Math': [85, 70, 90, 65, 78, None],
        'Science': [92, 78, None, 70, 85, 68],
        'English': [88, None, 95, 72, 80, 75]}
df_dummy = pd.DataFrame(data)
df_dummy.to_csv('student_scores.csv', index=False)